


/* Add a blinking border effect */
@keyframes blinking-border {
    0% {
      border-color: rgba(0, 0, 0, 0.1);
    }
    50% {
      border-color: rgba(0, 0, 0, 0.281);
    }
    100% {
      border-color: rgba(0, 0, 0, 0.1);
    }
  }
  
  .border-blinking {
    animation: blinking-border 1.5s infinite; /* Controls the speed of the blinking effect */
  }
  
  
  @keyframes animate-boredr-spin{
      0%{
        
      }
      100%{
        @apply   border-x-transparent
      }
  }
  
  .animate-boredr-spin{
    animation: animate-boredr-spin ease-in-out 1.5s infinite;
  }
  


  @keyframes animate-box-border{
   
    25%{
       @apply border-l-purple-600 transition-all
    }
    50%{
       @apply border-t-purple-600
    }
    75%{
      @apply border-r-purple-600
    }
    100%{
        @apply border-b-purple-600
    }
  }
  
  .box-border-animation{
    animation: animate-box-border ease-in-out 1.5s infinite;
    transition: 0.5s ; 
}